<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ac_detector</title>
  </head>
  <body>
    <h1>ユーザー登録フォーム</h1>
    <p>{{ message }}</p>
    <form action="/" method="POST" enctype="multipart/form-data">
		<div>
			<label for="name">AtCoder ユーザID:</label>
			<input type="text" id="name" name="atcoder" placeholder="Atcoder ID">	
    </div>
    <div>
			<label for="name">Twitter ID:</label>
			<input type="text" id="name" name="twitter" placeholder="Twitter ID">	
		</div>
		<div>
			<input type="submit" value="登録">
		</div>
	</form>
  </body>
</html>